/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	
}
.header{
	background-color: #011e29;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:10px;
	
}
.main{
	display:grid;
	grid-template-columns:repeat(3, 1fr)
}
.latest-news-section{
	border: 1px solid white ;
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:5px;
	width:150px;

	height:150px;
}
.pictorial-news-section{
	border: 1px solid white ;
	background-color:white;
	padding:10px;
	margin:10px;
	width:300px;
	border-radius:5px;
	display:grid;
	justify-content:center;
	align-content:center;
}
.second{
	border: 1px solid white ;
	background-color:white;
	padding:10px;
	margin:10px;
	width:400px;
	border-radius:5px;
	display:grid;
	justify-items:center;
	height:180px;
	gap:0px;
}
img{
	width:200px;
}



